<html>

<head>
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/About.css">
</head>

<body>
    <nav>
        <div class="logo">RoomsAve</div>
        <div class="nav-links">
            <a href="Home.html">Home</a>
            <span id="nav-separator"> | </span>
            <a href="Rooms.html" id="rooms-link">Rooms</a>
            <span id="bookings-separator"> | </span>
            <a href="#" id="bookings-link" onclick="viewMyBookings()">Bookings</a>
            <a href="#auth-section" id="login-nav-link"> | Log In</a>
            <a href="#" id="logout-link" onclick="handleLogout()"> | Log Out</a>
            <a href="#"> | About us</a>
        </div>
    </nav>

</body>

</html>